{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "ortho_quant_md (debug)",
            "request": "launch",
            "type": "dart",
            "program": "lib/main.dart",
            "args": [
                "--dart-define=REVENUECAT_API_KEY=appl_xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            ]
        },
        {
            "name": "ortho_quant_md (profile)",
            "request": "launch",
            "type": "dart",
            "program": "lib/main.dart",
            "flutterMode": "profile",
            "args": [
                "--dart-define=REVENUECAT_API_KEY=appl_xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            ]
        },
        {
            "name": "ortho_quant_md (release)",
            "request": "launch",
            "type": "dart",
            "program": "lib/main.dart",
            "flutterMode": "release",
            "args": [
                "--dart-define=REVENUECAT_API_KEY=appl_xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            ]
        }
    ]
}
